.no-scroll {
  overflow-x: hidden !important;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  background-color: #eee;
}

#board {
  display: flex;
  position: relative;
  top: 80px;
  flex-direction: column;
  margin-bottom: 200px;
}

#session {
  border: none;
  background-color: rgba(139, 0, 0, 0.774);
  font-weight: bold;
  font-size: 9pt;
  position: absolute;
  top: 0; left: 0;
  cursor: pointer;
  color: white;
  font-family: 'Helvetica';
  padding: 10px;
}

#session-info {
  display: none;
}

#session:hover {
  background-color: rgba(139, 0, 0, 0.9);
}

.piece {
  position: absolute;
  display: inline-block;
  top: 0; left: 0;
  color: transparent;
  background-image: url('/images/pieces.png');
  background-size: 600%;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.piece.other, .piece.ui-draggable-disabled {
  cursor: default;
}

.piece.other {
  pointer-events: none;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  display: block;
  height: 70px;
  width: 70px;
  box-sizing: border-box;
  position: relative;
}

.square.highlight::after {
  content: "";
  position: absolute;
  height: 100%; width: 100%;
  top: 0; left: 0;
  background-color: rgba(204, 185, 15, 0.568);
}

.square.dark {
  background-color: green;
}

.square.light {
  background-color: peachpuff;
}

.square.available {
  cursor: pointer;
}

.square.available:hover::after {
  content: "";
  position: absolute;
  height: 100%; width: 100%;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.square.available::before {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  font-family: "Arial";
  font-size: 8pt;
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-weight: bold;
}

.label.number {
  top: 2px;
  left: revert;
}

.label.number.noflip {
  right: 2px !important;
}

.label.number.flip {
  left: 2px !important;
}

.label.dark {
  color: green;
}

.label.light {
  color: peachpuff;
}

#info-bg {
  position: absolute;
  height: 100vh; width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

#session-pane {
  font-family: 'Arial';
  font-size: 10pt;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  background-color: white;
  z-index: 10;
}

#connect-control {
  margin: 10px;
  padding: 5px;
}

#connect {
  margin: 10px;
  padding: 5px;
}

#connect-controls input {
  padding: 10px;
}

.session-label {
  color: darkgreen;
  font-weight: bold;
  font-size: 12pt;
  user-select: all;
}
